/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fond personnalisé par page */
body.soutien-informatique,
body.demarches-en-ligne,
body.installation-depannage,
body.credit-impot {
  background-image: url("/images/backgroundCards.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Position ajustée uniquement pour la page crédit d'impôt */
body.credit-impot {
  background-position: center top;
}

/* Animation Parallax */
@keyframes scrollParallax {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}
